.idea/
.mvn/
target/
src/main/resources/static/build/
src/main/resources/static/jspm_packages
src/main/resources/static/node_modules
src/main/resources/static/typings
src/main/resources/static/bower_components