<template>
    <require from='../user/user-template.html'></require>

    <div class="well">
        <div if.bind="tweet.deleted == false" class="btn-group pull-right">
            <a if.bind="tweet.loggedUserVote == 'UP'" type=button class="btn btn-success btn-xs"
               click.delegate="deleteTweetVote(tweet.id)">
                <div class="glyphicon glyphicon-plus-sign"></div>
            </a>
            <a if.bind="tweet.loggedUserVote != 'UP'" type=button class="btn btn-default btn-xs"
               click.delegate="voteOnTweet(tweet.id,'UP')">
                <div class="glyphicon glyphicon-plus"></div>
            </a>
            <a if.bind="tweet.loggedUserVote == 'DOWN'" type=button class="btn btn-danger btn-xs"
               click.delegate="deleteTweetVote(tweet.id)">
                <div class="glyphicon glyphicon-minus-sign"></div>
            </a>
            <a if.bind="tweet.loggedUserVote != 'DOWN'" type=button class="btn btn-default btn-xs"
               click.delegate="voteOnTweet(tweet.id,'DOWN')">
                <div class="glyphicon glyphicon-minus"></div>
            </a>
        </div>
        <div class="pull-right">
            <div class="label label-success">+${tweet.upVoteCount}</div>
            <div class="label label-danger">-${tweet.downVoteCount}</div>
        </div>
        <user-template user.bind="tweet.owner" post-date="${tweet.createDate}"></user-template>
        <div class="media">
            <div class="media-body">
                <div innerHTML.bind="tweet.content" class="post">${tweet.content}</div>
            </div>
        </div>
        <br>
        <div class="btn-group">
            <a if.bind="tweet.favourite == 0"
               class="btn btn-default" click.delegate="addTweetToFavourites(tweet.id)">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            <a if.bind="tweet.favourite == 1"
               class="btn btn-default" click.delegate="deleteTweetFromFavourites(tweet.id)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            <a class="btn btn-default" href="#/comment/${tweet.id}">
                <span class="glyphicon glyphicon-comment"></span>
            </a>
            <a class="btn btn-default" click.delegate="report(tweet)">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </a>
        </div>
        <a if.bind="tweet.deleted == false && tweet.owner.id == currentUser.id"
           class="glyphicon glyphicon-remove btn btn-danger pull-right"
           click.delegate='deleteTweet(tweet.id)'> Delete</a>
    </div>
</template>