<template>
    <div class="well">
        <div if.bind="tweet.deleted == false" class="btn-group pull-right">
            <a if.bind="tweet.loggedUserVote == 'UP'" type=button class="btn btn-success"
               click.delegate="deleteTweetVote(tweet.id)">
                <div class="glyphicon glyphicon-plus-sign"></div>
            </a>
            <a if.bind="tweet.loggedUserVote != 'UP'" type=button class="btn btn-default"
               click.delegate="voteOnTweet(tweet.id,'UP')">
                <div class="glyphicon glyphicon-plus"></div>
            </a>
            <a if.bind="tweet.loggedUserVote == 'DOWN'" type=button class="btn btn-danger"
               click.delegate="deleteTweetVote(tweet.id)">
                <div class="glyphicon glyphicon-minus-sign"></div>
            </a>
            <a if.bind="tweet.loggedUserVote != 'DOWN'" type=button class="btn btn-default"
               click.delegate="voteOnTweet(tweet.id,'DOWN')">
                <div class="glyphicon glyphicon-minus"></div>
            </a>
        </div>
        <div class=" media">
            <div class="media-left">
                <img src="data:image/jpg;base64, ${tweet.owner.avatar.bytes}"
                     alt="${tweet.owner.avatar.fileName}">
            </div>
            <div class="media-body">
                <i class="glyphicon glyphicon-user"></i>
                <a href="#users/${tweet.owner.id}">${tweet.owner.username}</a>
                <br/>
                <i class="glyphicon glyphicon-envelope"></i>
                ${tweet.owner.email}
                <br/>
                <i class="glyphicon glyphicon-calendar"></i>
                ${tweet.createDate}
            </div>
            <label>${tweet.content}</label>
            <br/>
        </div>
        <div class="btn-group">
            <a if.bind="tweet.favourite == 0"
               class="btn btn-default" click.delegate="addTweetToFavourites(tweet.id)">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            <a if.bind="tweet.favourite == 1"
               class="btn btn-default" click.delegate="deleteTweetFromFavourites(tweet.id)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            <a class="btn btn-default" href="comment/${tweet.id}">
                <span class="glyphicon glyphicon-comment"></span>
            </a>
            <a class="btn btn-default" click.delegate="report(tweet)">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </a>
        </div>
        <a if.bind="tweet.deleted == false && tweet.owner.id == currentUser.id"
           class="glyphicon glyphicon-remove btn btn-danger pull-right"
           click.delegate='deleteTweet(tweet.id)'> Delete</a>
    </div>
</template>