<template>
    <require from='../user/user-template.html'></require>
    <div class="well">
        <div if.bind="comment.deleted == false" class="btn-group pull-right">
            <a if.bind="comment.loggedUserVote == 'UP'" type=button class="btn btn-success btn-xs"
               click.delegate="deleteCommentVote(comment.id)">
                <div class="glyphicon glyphicon-plus-sign"></div>
            </a>
            <a if.bind="comment.loggedUserVote != 'UP'" type=button class="btn btn-default btn-xs"
               click.delegate="voteOnComment(comment.id,'UP')">
                <div class="glyphicon glyphicon-plus"></div>
            </a>
            <a if.bind="comment.loggedUserVote == 'DOWN'" type=button class="btn btn-danger btn-xs"
               click.delegate="deleteCommentVote(comment.id)">
                <div class="glyphicon glyphicon-minus-sign"></div>
            </a>
            <a if.bind="comment.loggedUserVote != 'DOWN'" type=button class="btn btn-default btn-xs"
               click.delegate="voteOnComment(comment.id,'DOWN')">
                <div class="glyphicon glyphicon-minus"></div>
            </a>
        </div>
        <div class="pull-right">
            <div class="label label-success">+${comment.upVoteCount}</div>
            <div class="label label-danger">-${comment.downVoteCount}</div>
        </div>
        <user-template user.bind="comment.owner" post-date="${comment.createDate}"></user-template>
        <div class="media">
            <div class="media-body">
                <div innerHTML.bind="comment.content">${comment.content}</div>
            </div>
        </div>
        <br>
        <div class="btn-group">
            <a class="btn btn-default" click.delegate="reportComment(comment)">
                <span class="glyphicon glyphicon-warning-sign"></span> Report
            </a>
        </div>
        <a if.bind="comment.deleted == false && comment.owner.id == currentUser.id"
           class="glyphicon glyphicon-remove btn btn-danger pull-right"
           click.delegate="deleteComment(comment.id)"> Delete</a>
    </div>
</template>